@model IEnumerable<DtDc_Billing.Entity_FR.Company>
@{
    ViewBag.Title = "RateMaster";
    Layout = "~/Views/Shared/SupportLayout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span class="fs-20">
                         Company RateMater
                    </span>
                   
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-responsive table-striped" style="overflow:auto;display:block">
                            <thead>
                                <tr>
                                    <th style="display:none">
                                        @Html.DisplayNameFor(model => model.Company_Id)
                                    </th>
                                    <th>
                                        Sr No
                                    </th>
                                    <th> Option</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Company_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Pf_code)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Company_Address)
                                    </th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int srno = 1;
                                    foreach (var item in Model)
                                    {
                                        // var id = item.Company_Id;
                                        var id = item.Company_Id.Replace("&", "__").Replace(".", "xdotx");

                                        <tr>
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.Company_Id)
                                            </td>

                                            <td>
                                                @srno
                                            </td>
                                            <td>

                                                @Html.ActionLink("View", "Index", new { id = id })

                                            </td>
                                            <td>
                                                <div class="hideextra" style="width:300px">
                                                    @Html.DisplayFor(modelItem => item.Company_Name)
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pf_code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>

                                            <td>
                                                <div class="hideextra" style="width:400px">
                                                    @Html.DisplayFor(modelItem => item.Company_Address)
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        srno++;
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<style>
    .fs-20 {
        font-size: 20px;
    }

    @@media (max-width: 768px) {
        #rate-mater-edit {
            display: block;
        }

        .table td.fit,
        .table th.fit {
            white-space: nowrap;
            width: 1%;
        }
    }
</style>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
