@model DtDc_Billing.Entity_FR.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum_Risk_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum_Risk_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel_Sur_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel_Sur_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topay_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topay_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gec_Fuel_Sur_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gec_Fuel_Sur_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franchisee.F_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franchisee.F_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Company_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
