@model DtDc_Billing.Entity_FR.Cash

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cash</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inserteddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inserteddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempinserteddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempinserteddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoiceno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoiceno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cash_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
