



@{
    ViewBag.Title = "Printreceipt";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}





@model DtDc_Billing.Entity_FR.Receipt_details

@using (Ajax.BeginForm("ConsignmentDetails", "CashBooking", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmEmp2" }, new { id = "FormName" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="consignment">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4">Consignment No</label>
                            <div class="col-sm-6">
                                @if (ViewBag.nextconsignment != null)
                                {

                                    @Html.EditorFor(model => model.Consignment_No, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Consignment No", @Value = ViewBag.nextconsignment } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Consignment_No, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Consignment No" } })
                                }
                                @Html.ValidationMessage("Consignment")
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Destination</label>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Destination" } })

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main content -->

                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Sender Details</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Ph No</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.sender_phone, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Phone Number" } })

                                        </div>
                                        <label for="" class="col-sm-2">Email</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Sender_Email, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Email" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Sender</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.Sender, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Sender Name" } })

                                        </div>
                                        <label for="" class="col-sm-2">Company</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.SenderCompany, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Company" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Address</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(model => model.SenderAddress, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Address" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 padding-right-0">City</label>
                                        <div class="col-sm-3">
                                            @Html.EditorFor(model => model.SenderCity, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "City" } })
                                        </div>
                                        <label class="col-sm-1 nopadding">State</label>
                                        <div class="col-sm-3 nopadding">
                                            @Html.EditorFor(model => model.SenderState, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "State" } })
                                        </div>
                                        <label for="" class="col-sm-2 padding-right-0">Pincode</label>
                                        <div class="col-sm-2 padding-left-0">

                                            @Html.EditorFor(model => model.SenderPincode, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Pincode", @id = "Pincode" } })

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Recipient's Details</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Ph No</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Reciepents_phone, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Phone Number", @id = "receipientphno" } })

                                        </div>
                                        <label for="" class="col-sm-2">Email</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Reciepents_Email, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Email" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Recipient</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Reciepents, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Recipient's Name" } })

                                        </div>
                                        <label for="" class="col-sm-2">Company</label>
                                        <div class="col-sm-4">


                                            @Html.EditorFor(model => model.ReciepentCompany, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Company" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2">Address</label>
                                        <div class="col-sm-10">


                                            @Html.TextAreaFor(model => model.ReciepentsAddress, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Address" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 padding-right-0">City</label>
                                        <div class="col-sm-3">

                                            @Html.EditorFor(model => model.ReciepentsCity, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "City" } })

                                        </div>
                                        <label class="col-sm-1 nopadding">State</label>
                                        <div class="col-sm-3 nopadding">

                                            @Html.EditorFor(model => model.ReciepentsState, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "State" } })

                                        </div>
                                        <label class="col-sm-2 padding-right-0">Pincode</label>
                                        <div class="col-sm-2 padding-left-0">

                                            @Html.EditorFor(model => model.ReciepentsPincode, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Pincode" } })

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Shipment Type</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <!-- radio -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 padding-right-0">Type</label>
                                            <div class="radio col-md-4">
                                                <label>
                                                    @*<input type="radio" name="Shipmenttype" id="dox" value="D" checked>*@
                                                    @Html.RadioButtonFor(model => model.Shipmenttype, "D", new { @checked = true, @id = "dox" })
                                                    Dox
                                                </label>
                                            </div>
                                            <div class="radio col-md-4 padding-right-0">
                                                <label>
                                                    @*<input type="radio" name="Shipmenttype" id="nondox" value="N">*@
                                                    @Html.RadioButtonFor(model => model.Shipmenttype, "N", new { @id = "nondox" })
                                                    Non Dox
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="radio col-sm-4 padding-right-0">
                                                <label>
                                                    @*<input type="radio" name="Shipment_Mode" id="air" value="Air" checked>*@
                                                    @Html.RadioButtonFor(model => model.Shipment_Mode, "Air", new { @checked = true, @id = "air" })
                                                    Air
                                                </label>
                                            </div>
                                            <div class="radio col-sm-4 nopadding">
                                                <label>
                                                    @*<input type="radio" name="Shipment_Mode" id="surface" value="Surface">*@
                                                    @Html.RadioButtonFor(model => model.Shipment_Mode, "Surface", new { @id = "surface" })
                                                    Surface
                                                </label>
                                            </div>
                                            <div class="radio col-sm-4 nopadding">
                                                <label>
                                                    @*<input type="radio" name="Shipment_Mode" id="international" value="International">*@
                                                    @Html.RadioButtonFor(model => model.Shipment_Mode, "International", new { @id = "international" })
                                                    International
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-offset-2">QTY</label>
                                            <div class="col-sm-6">

                                                @Html.EditorFor(model => model.TotalNo, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Total" } })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-offset-2">A.W</label>
                                            <div class="col-sm-6">
                                                @Html.EditorFor(model => model.Actual_Weight, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Weight" } })

                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-7">
                                                <div class="row">
                                                    <div class="col-sm-2 padding-right-0">
                                                        <label>L </label>
                                                        <label class="pull-right"><strong> X </strong> </label>
                                                        <div class="pad-5">
                                                            @Html.EditorFor(model => model.Shipment_Length, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 padding-right-0">
                                                        <label>B</label>
                                                        <label class="pull-right"><strong> X </strong> </label>
                                                        <div class="pad-5">
                                                            @Html.EditorFor(model => model.Shipment_Quantity, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 padding-right-0">
                                                        <label>H </label>
                                                        <label class="pull-right"><strong> X </strong> </label>
                                                        <div class="pad-5">
                                                            @Html.EditorFor(model => model.Shipment_Breadth, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 padding-right-0">
                                                        <label>Pcs </label>
                                                        <label class="pull-right"><strong> / </strong> </label>
                                                        <div class="pad-5">
                                                            @Html.EditorFor(model => model.Shipment_Heigth, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 padding-right-0">
                                                        <label>Devide By</label>
                                                        <div class="pad-5">
                                                            @Html.EditorFor(model => model.DivideBy, new { htmlAttributes = new { @class = "form-control input-sm", @Value = 3000 } })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="col-sm-4">V.Wt</label>
                                                    <div class="col-sm-7 col-md-offset-1">
                                                        @Html.EditorFor(model => model.volumetric_Weight, new { htmlAttributes = new { @class = "form-control input-sm volw", @placeholder = "Vol. Weight" } })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <div class="col-md-8">
                                    <h3 class="box-title">Description of Content</h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="box-title">Value Of Goods</h3>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <!-- radio -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-8">

                                                @Html.EditorFor(model => model.DescriptionContent1, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Description" } })

                                            </div>
                                            <div class="col-sm-4">
                                                @Html.EditorFor(model => model.Amount1, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Amount" } })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                @Html.EditorFor(model => model.DescriptionContent2, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Description" } })

                                            </div>
                                            <div class="col-sm-4">
                                                @Html.EditorFor(model => model.Amount2, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Amount" } })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                @Html.EditorFor(model => model.DescriptionContent3, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Description" } })

                                            </div>
                                            <div class="col-sm-4">
                                                @Html.EditorFor(model => model.Amount3, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Amount" } })

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="" class="col-sm-12 control-label">Total Value of Goods</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.Total_Amount, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Total" } })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-footer -->
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Charges </h3>

                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <!-- radio -->
                                    <div class="col-md-6">
                                        <div id="insurance">
                                            <div class="form-group">
                                                <label for="" class="col-sm-4">Insurance</label>
                                                <div class="radio col-md-4">
                                                    <label>
                                                        @*<input type="radio" name="Insurance" id="noinsurance" value="no" checked>*@
                                                        @Html.RadioButtonFor(model => model.Insurance, "no", new { @checked = true, @id = "noinsurance" })
                                                        No
                                                    </label>
                                                </div>
                                                <div class="radio col-md-4">
                                                    <label>
                                                        @*<input type="radio" name="Insurance" id="yesinsurance" value="yes">*@
                                                        @Html.RadioButtonFor(model => model.Insurance, "yes", new { @id = "yesinsurance" })
                                                        Yes
                                                    </label>
                                                </div>

                                            </div>
                                            <div id="insurancedetails" class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-12">Percentage</label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.Insuance_Percentage, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Insurance" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-12">Amount</label>
                                                        <div class="col-sm-12">

                                                            @Html.EditorFor(model => model.Insuance_Amount, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Amount" } })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="" class="col-sm-6 nopadding">Amount</label>
                                            <div class="col-sm-6 nopadding">

                                                @Html.EditorFor(model => model.Charges_Amount, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Amount" } })

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-6 nopadding">Service Charge</label>
                                            <div class="col-sm-6 nopadding">

                                                @Html.EditorFor(model => model.Charges_Service, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Charge" } })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 nopadding">Risk Surcharge</label>
                                            <div class="col-sm-6 nopadding">

                                                @Html.EditorFor(model => model.Risk_Surcharge, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Risk", @readonly = "readonly" } })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 nopadding">Service Tax</label>
                                            <div class="col-sm-6 nopadding">
                                                @Html.EditorFor(model => model.Service_Tax, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Service tax" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-6 nopadding">Discount</label>
                                            <div class="col-sm-6 nopadding">
                                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Discount", @readonly = "readonly", @Value = 0 } })

                                                @*<input type="text" id="Discount" name="Discount" class="form-control input-sm" placeholder="Discount" disabled value="0" />*@

                                                @*<input class="form-control input-sm text-box single-line" data-val="true" data-val-number="The field Discount must be a number." disabled="disabled" id="Discount" name="Discount" placeholder="Discount" type="text" value="">*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <select class="select2 col-sm-4 input-sm">
                                                <option selected="selected">Select</option>
                                                <option>Envelope</option>
                                                <option>Box</option>
                                            </select>
                                            <div class="col-sm-7 pad-40 col-md-offset-1">
                                                @Html.EditorFor(model => model.Addition_charge, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Additional charge" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-6 nopadding">Total</label>
                                            <div class="col-sm-6 nopadding">
                                                @Html.EditorFor(model => model.Charges_Total, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Total", @readonly = "readonly" } })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                        <!-- Horizontal Form -->
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Services</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <!-- radio -->
                                    <div id="Services" class="col-md-4">
                                        <div class="form-group doxamount dox-lite">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" class="sericerad" id="Doxradio" value="0">
                                                    Dox Lite
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group nondair nondox-air">
                                            <div id="" class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" class="sericerad" id="Airradio" value="0">
                                                    Non Dox Air
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group nondSurf nondox-surface">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" class="sericerad" id="surfradio" value="0">
                                                    Non Dox Surface
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group Plus">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" class="sericerad" id="plusradio" value="0">
                                                    DTDC Plus
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group Blue">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="blueradio" value="0">
                                                    DTDC Blue
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group green">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="greenradio" value="0">
                                                    DTDC Green
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group ptp11">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="ptp11radio" value="0">
                                                    PTP 10.30 AM
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group PTP12">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="PTP12radio" value="0">
                                                    PTP 12.00 PM
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group ptp2">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="ptp2radio" value="0">
                                                    PTP 2.00 PM
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group Sunday">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="Sundayradio" value="0">
                                                    Sunday PTP
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group GEC">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sericerad" id="GECradio" value="0">
                                                    GEC
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-md-offset-1">
                                        <div class="form-group doxamount">
                                            <input type="text" class="form-control input-sm" id="DoxInput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group nondair">
                                            <input type="text" class="form-control input-sm" id="Airinput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group nondSurf">
                                            <input type="text" class="form-control input-sm" id="surfinput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group Plus">
                                            <input type="text" class="form-control input-sm" id="plusinput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group Blue">
                                            <input type="text" class="form-control input-sm" id="blueinput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group green">
                                            <input type="text" class="form-control input-sm" id="greeninput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group ptp11">
                                            <input type="text" class="form-control input-sm" id="ptp11input" placeholder="" value="0">
                                        </div>
                                        <div class="form-group  PTP12">
                                            <input type="text" class="form-control input-sm" id="PTP12input" placeholder="" value="0">
                                        </div>
                                        <div class="form-group ptp2">
                                            <input type="text" class="form-control input-sm" id="ptp2input" placeholder="" value="0">
                                        </div>
                                        <div class="form-group Sunday">
                                            <input type="text" class="form-control input-sm" id="Sundayinput" placeholder="" value="0">
                                        </div>
                                        <div class="form-group GEC">
                                            <input type="text" class="form-control input-sm" id="GECinput" placeholder="" value="0">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="radio col-md-6">
                                                <label>
                                                    <input type="radio" name="credit" id="cash" value="cash" checked>
                                                    Cash
                                                </label>
                                            </div>
                                            <div class="radio col-md-6">
                                                <label>
                                                    <input type="radio" name="credit" id="credit" value="credit">
                                                    Credit
                                                </label>
                                            </div>
                                        </div>
                                        <div id="creditamount" class="form-group">
                                            <label for="" class="col-sm-12">Credit Amount</label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.Credit_Amount, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Amount", @Value = 0 } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="box-footer">
                                                @*<button type="button" class="btn btn-block btn-info btn-sm">Add Remark</button>*@
                                            </div>
                                        </div>
                                        <!-- checkbox -->
                                       
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <!-- box-Footer -->
                                <div class="box-footer">
                                    <div class="col-md-5 col-md-offset-2">
                                        <strong>Your Wallet Money Is :</strong>
                                    </div>
                                    <div class="col-md-2">
                                        @if (ViewBag.WalletPopints == null)
                                        {
                                            <span id="Walletmoney">0</span>
                                        }
                                        else
                                        {
                                            <span id="Walletmoney">@ViewBag.WalletPopints</span>
                                        }
                                    </div>
                                    <div id="redeem-btn" class="col-md-3">
                                        <div class="container">
                                            <button type="button" class="btn bg-maroon btn-sm" id="MainRedeem" data-toggle="modal" data-target="#myModal">Redeem</button>
                                            <div class="modal" id="myModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title">Modal Default</h4>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Enter OTP</label>
                                                                    <input type="text" class="form-control input-sm" id="Otp" placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Enter Amount</label>
                                                                    <input type="text" class="form-control input-sm" id="DiscAmount" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                            <button id="disc" type="button" class="btn btn-primary">Redeem</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->

                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer text-right">
                                    <button type="submit" value="Save" class="btn btn-info btn-sm">Save</button>
                                    @*<button type="submit" class="btn btn-info pull-right">Print</button>*@
                                    <button type="submit" value="Sms" name="Submit" class="btn btn-success btn-sm">Save With SMS</button>
                                    <button type="submit" class="btn btn-danger btn-sm">Clear</button>
                                </div>
                                <!-- /.box-footer -->
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            </div>
        </section>
            }


            <style>
                .form-horizontal .checkbox, .form-horizontal .radio {
                    min-height: 30px;
                }

                #consignment .form-group {
                    margin-bottom: 5px;
                }

                #consignment label {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    vertical-align: middle;
                }

                #consignment #insurancedetails, #consignment #creditamount {
                    display: none;
                }

                #consignment .icheckbox_minimal-red, .iradio_minimal-red {
                    margin: 0 10px;
                }

                .pad-40 {
                    padding-right: 0;
                    padding-left: 8%;
                }

                .volw {
                    width: 105%;
                    margin-left: -5px;
                }


                @@media (min-width:769px) {
                    .padding-right-0 {
                        padding-right: 0px;
                    }
                }

                @@media (min-width: 768px) {
                    .box-footer #redeem-btn .modal-dialog {
                        width: 400px;
                        margin: 30px auto;
                    }
                }
            </style>

            <script>
                $(document).ready(function () {

                    $("#Consignment_No").keyup(function () {
                        if (this.value.length < 9) {

                            return false;
                        }
                        else {
                            var Consignment_No = $('#Consignment_No').val();

                            $.ajax({
                                type: 'Get',
                                dataType: 'json',
                                url: '/CashBooking/Consignment',
                                data: { Consignment_No: Consignment_No },
                                success: function (Data) {


                                    $('#sender_phone').val(Data.sender_phone);
                                    $('#Sender_Email').val(Data.Sender_Email);
                                    $('#Sender').val(Data.Sender);
                                    $('#SenderCompany').val(Data.SenderCompany);
                                    $('#SenderAddress').val(Data.SenderAddress);
                                    $('#SenderCity').val(Data.SenderCity);
                                    $('#SenderState').val(Data.SenderState);
                                    $('#Pincode').val(Data.SenderPincode);

                                    $('#Reciepents_Email').val(Data.Reciepents_Email);
                                    $('#Reciepents').val(Data.Sender);
                                    $('#ReciepentCompany').val(Data.ReciepentCompany);
                                    $('#ReciepentsAddress').val(Data.ReciepentsAddress);
                                    $('#ReciepentsCity').val(Data.ReciepentsCity);
                                    $('#ReciepentsState').val(Data.ReciepentsState);
                                    $('#ReciepentsPincode').val(Data.ReciepentsPincode);
                                    $('#Destination').val(Data.Destination);
                                    $('#receipientphno').val(Data.ReciepentsPincode);

                                    $('#Shipment_Quantity').val(Data.Shipment_Quantity);
                                    $('#Shipment_Length').val(Data.Shipment_Length);
                                    $('#Shipment_Breadth').val(Data.Shipment_Breadth);
                                    $('#Shipment_Heigth').val(Data.Shipment_Heigth);
                                    $('#DivideBy').val(Data.DivideBy);


                                    $('#TotalNo').val(Data.TotalNo);
                                    $('#Actual_Weight').val(Data.Actual_Weight);
                                    $('#volumetric_Weight').val(Data.volumetric_Weight);


                                    $('#DescriptionContent1').val(Data.DescriptionContent1);
                                    $('#DescriptionContent2').val(Data.DescriptionContent2);
                                    $('#DescriptionContent3').val(Data.DescriptionContent3);

                                    $('#Amount1').val(Data.Amount1);
                                    $('#Amount2').val(Data.Amount2);
                                    $('#Amount3').val(Data.Amount3);

                                    $('#Destination').val(Data.Destination);

                                    $('#Charges_Amount').val(Data.Charges_Amount);
                                    $('#Charges_Service').val(Data.Charges_Service);
                                    $('#Risk_Surcharge').val(Data.Risk_Surcharge);
                                    $('#Service_Tax').val(Data.Service_Tax);
                                    $('#Addition_charge').val(Data.Addition_charge);
                                    $('#Charges_Total').val(Data.Charges_Total);

                                    $("input[name=Shipmenttype][value=" + Data.Shipmenttype + "]").prop('checked', true);

                                    $("input[name=Shipment_Mode][value=" + Data.Shipment_Mode + "]").prop('checked', true);



                                    if (Data.Shipmenttype == "N") {
                                        $('#insurance').show();
                                        $('#insurancedetails').show();
                                        $("input[name=Insurance][value=" + Data.Insurance + "]").prop('checked', true);

                                    }
                                    else {
                                        $('#insurance').hide();
                                    }
                                    if (Data.Insurance == "yes") {
                                        $('#insurancedetails').show();
                                        $('#Insuance_Percentage').val(Data.Insuance_Percentage);
                                        $('#Insuance_Amount').val(Data.Insuance_Amount);

                                    }

                                    $('#secure_Pack').prop('checked', Data.secure_Pack);
                                    $('#Passport').prop('checked', Data.Passport);
                                    $('#OfficeSunday').prop('checked', Data.OfficeSunday);


                                }
                            });
                        }
                    });

                });
            </script>










            @*@if (ViewBag.Insuarance == "N")
                {
                    <script>
                        $(document).ready(function () {
                            $('#insurance').show();
                        });
                    </script>
                }

                @if (ViewBag.yesinsurance == "yes")
                {
                    <script>
                        $(document).ready(function () {
                            $('#insurancedetails').show();
                        });
                    </script>
                }*@




