@model DtDc_Billing.Entity_FR.Franchisee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Franchisee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.F_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GstNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GstNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franchisee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franchisee_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
