@model DtDc_Billing.Entity_FR.Issue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noofleafs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noofleafs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inssuedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inssuedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comapny_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comapny_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pf_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pf_code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Issue_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
