@model DtDc_Billing.Entity_FR.Invoice
@{
    ViewBag.Title = "GenerateInvoice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="~/admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<section class="content">
    <div class="row">
        @using (Html.BeginForm())
        {
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4>Generate Multiple Invoice</h4>
                </div>

                <div class="form-horizontal">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="col-md-12">



                                    <div class="">
                                    @Html.DropDownList("PfCode", (IEnumerable<SelectListItem>)ViewBag.PfCode, "-Select Pf_Code-", new { @class = "form-control" })
                                        <br />

                                    </div>
                                    <div class="subject-info-box-1">
                                        <select multiple="multiple" id='lstBox1' class="form-control">
                                            @foreach (var i in ViewBag.Complist)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="subject-info-arrows text-center" style="margin-top:15px">
                                        @*<input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />*@
                                        <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                                        <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                                        @*<input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />*@
                                    </div>

                                    <div class="subject-info-box-2">
                                        <select multiple="multiple" id='lstBox2' name="Companies" class="form-control"></select>
                                    </div>

                                </div>
                                <br /><br /><br />
                                            <div class="col-sm-6 ">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="email">Invoice Date:</label>
                                                        @Html.EditorFor(model => model.tempInvoicedate, new { htmlAttributes = new { @class = "form-control" } })

                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="email">Period From:</label>
                                                        @Html.EditorFor(model => model.Tempdatefrom, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="email">Period To:</label>
                                                        @Html.EditorFor(model => model.TempdateTo, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="email">GST:</label>
                                                        @Html.EditorFor(model => model.servicetax, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="email">Covid Tax:</label>
                                                        @Html.EditorFor(model => model.covidtax, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="submit" name="submit" class="btn btn-success sbmt" value="Save" style="width:auto" />
                                                        &nbsp;
                                                        <button type="submit" name="submit" class="btn bg-maroon sbmt" value="Email" style="width:auto" >Send Mail</button>

                                                        

                                                    </div>
                                                </div>

                                                <div style="display:none">

                                                    @Html.EditorFor(model => model.invoiceno, new { htmlAttributes = new { @type = "text", @class = "form-control", @Value = "Bala" } })
                                                    @Html.EditorFor(model => model.total, new { htmlAttributes = new { @type = "text", @class = "form-control", @Value = "1000" } })
                                                    @Html.EditorFor(model => model.netamount, new { htmlAttributes = new { @type = "text", @class = "form-control", @Value = "0" } })
                                                    @Html.EditorFor(model => model.servicetax, new { htmlAttributes = new { @type = "text", @class = "form-control", @Value = "10.10" } })
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @type = "text", @class = "form-control", @Value = "Bala" } })
                                                    @Html.EditorFor(model => model.Customer_Id, new { htmlAttributes = new { @type = "text", @class = "form-control", @Value = "Bala" } })

                                                </div>
                                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>

<style>
    .input-validation-error {
        border: 1px solid #ff0000 !important;
    }
</style>

<style>
    .subject-info-box-1,
    .subject-info-box-2 {
        float: left;
        width: 45%;
    }

        .subject-info-box-1 select, .subject-info-box-2 select {
            height: 300px;
            padding: 0;
        }

        .subject-info-box-1 option, .subject-info-box-2 option {
            padding: 4px 10px 4px 10px;
        }

    option:hover {
        background: #EEEEEE;
    }

    .subject-info-arrows {
        float: left;
        width: 10%;
    }

    input {
        width: 70%;
        margin-bottom: 5px;
    }

    #btnLeft {
        margin-top: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#PfCode").change(function () {
            $.get("/Invoice/PfWiseCustomerIdAutocomplete", { pfcode: $("#PfCode").val() }, function (data) {
                $("#lstBox1").empty();
                //$("#column2").append("<option value=''>--Select Class--</option>")
                $.each(data, function (index, row) {
                    $("#lstBox1").append("<option value='" + row.Company_Id + "'>" + row.Company_Id + "</option>")
                });
            });
        })
    });
</script>
<script>
    (function () {
        $('#btnRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox2').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btnAllRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox2').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#lstBox2 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox1').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btnAllLeft').click(function (e) {
            var selectedOpts = $('#lstBox2 option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox1').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
    }(jQuery));

</script>

<script>
    $(document).ready(function () {



        $('.sbmt').click(function () {

            $("#lstBox2 option").attr("selected", "selected");

            var frmdate = $('#Tempdatefrom').val();

            var todate = $('#TempdateTo').val();

            if (frmdate == "") {
                alert("Please Enter Start Date");
                return false;
            }
            else if (todate == "") {
                alert("Please Enter End Date");
                return false;
            }
            else {
                return true;
            }

        });       


        $('#Tempdatefrom').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        });

        $('#tempInvoicedate').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        });

        $('#TempdateTo').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        });


    });
</script>




@if  (ViewBag.Success !=null)
{
<script>
    alert('@ViewBag.Success');
</script>
}