@model IEnumerable<DtDc_Billing.Entity_FR.Receipt_details>

@{
    ViewBag.Title = "ReceiptReports";
    Layout = "~/Views/Shared/CashCounterLayout.cshtml";
}

<link href="~/admin-lte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />



    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">Receipts Report</h3><h3 class="pull-right">Total Collection : ₹ @ViewBag.totalAmt </h3>*@
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Consignment_No)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReciepentsPincode)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Destination)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Actual_Weight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.volumetric_Weight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Shipment_Quantity)
                                    </th>

                                    <th>
                                        <label> Total Amount</label>
                                    </th>



                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Consignment_No)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReciepentsPincode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Destination)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Actual_Weight)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.volumetric_Weight)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shipment_Quantity)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Charges_Total)
                                        </td>








                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
 



<script type="text/javascript">
    $(function () {

        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>
