
@model IEnumerable<DtDc_Billing.Entity_FR.Dtdc_Ecommerce>


@using (Ajax.BeginForm("RateMasterEcommerce", "RateMaster", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmEmp10" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" value="@ViewBag.companyid" name="comppid">
    <div class="col-sm-12 text-center">
        <h4>Ecommerce Priority - 7X</h4>
    </div>

    <table class="table table-bordered table-striped" id="dtdc_ptp">
        <thead>
            <tr class="upto-input">
                <th>
                    @*<h4>@Html.DisplayNameFor(model => model.dest)</h4>*@
                </th>
                <th>
                    <label>Upto 500gm</label>
                </th>
                <th>
                    <label>Add 500gm</label>
                </th>
                <th>
                    <label>Additional Per <input type="text" name="PAdditionalPerKG" value="@Model.FirstOrDefault().PAdditionalPerKG"> KG</label>
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="sectors">
                        @Html.DisplayFor(modelItem => item.Sector.Sector_Name)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.PUpto500gm)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.PAdd500gm)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.PAdd5kg)
                    </td>
                    <td class="hidden">
                        @Html.HiddenFor(modelItem => item.Ecom_id)
                    </td>
                    <td class="hidden">
                        @Html.HiddenFor(modelItem => item.Sector_Id)
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div class="col-sm-12 text-center">
        <h4>Ecommerce Ground Express - 7D</h4>
    </div>

    <table class="table table-bordered table-striped" id="dtdc_ptp">
        <thead>
            <tr class="upto-input">
                <th>
                    @*<h4>@Html.DisplayNameFor(model => model.dest)</h4>*@
                </th>
                <th>
                    <label>Upto 500gm</label>
                </th>
                <th>
                    <label>Add 500gm</label>
                </th>
                <th>
                    <label><input type="text" name="GEAdditionalPerKG" value="@Model.FirstOrDefault().GEAdditionalPerKG"> KG</label>
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="sectors">
                        @Html.DisplayFor(modelItem => item.Sector.Sector_Name)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.GEUpto500gm)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.GEAdd500gm)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.GEAdd5kg)
                    </td>
                   

                </tr>
            }
        </tbody>
    </table>


    <input class="btn bg-maroon pull-right" type="submit" name="submit" value="Save" />
}

@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}


