@model DtDc_Billing.Entity_FR.Franchisee

@{
    ViewBag.Title = "AddFranchisee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4>Add Franchisee</h4>
                </div>
                <!-- /.box-header -->
                <div class="form-horizontal">
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PF_Code, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PF_Code, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.PF_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.F_Address, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.TextAreaFor(model => model.F_Address, new { @class = "form-control input-sm", @rows = 3 })
                                @Html.ValidationMessageFor(model => model.F_Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GstNo, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.GstNo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.GstNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Pan_No, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Pan_No, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.GstNo, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Franchisee_Name, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Franchisee_Name, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.Franchisee_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Branch_Area, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Branch_Area, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.Branch_Area, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="submit" value="Add" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}



@if (ViewBag.Success != null)
{
    <script>

        $(document).ready(function () {

            alert('Franchisee Added SuccessFully');

        });

    </script>

}

<script>
    $(function () {
        $('#franchisee-list').addClass('active');
    });
</script>