
@{
    ViewBag.Title = "DeleteCons";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4>Delete Cashcounter Consignment</h4>
                </div>

                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">



                                @using (Html.BeginForm("DeleteCons", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <div class="box-body">

                                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                @Html.HiddenFor(model => model.F_Id, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.F_Id, "", new { @class = "text-danger" })


                                                @Html.HiddenFor(model => model.PF_Code)*@

                                            <div class="form-group">
                                                <label class="col-md-2"> Consignment No</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" name="id" id="consno">
                                                </div>



                                               
                                                    <div class="col-md-2">
                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                    </div>
                                                

                                            </div>
                                        </div>

                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@if (TempData["fail"] != null)
{
    <script>
        alert('@TempData["fail"]');
    </script>
}
