@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



@model IEnumerable<DtDc_Billing.Models.TransactionCompanyDest>


<link href="~/admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4>Company Wise Report</h4>
                </div>

                <div class="form-horizontal">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">




                                    @using (Html.BeginForm())
                                    {




                                        if (ViewBag.Custid != null)
                                        {
                                            <div class="col-md-4">
                                                <input name="Custid" style="margin-right:10px" class="form-control" id="custid" value="@ViewBag.Custid" placeholder="CustiomerId" type="text">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-4">
                                                <input name="Custid" style="margin-right:10px" class="form-control" id="custid" placeholder="CustiomerId" type="text">
                                            </div>
                                        }


                                        if (ViewBag.fromdate != null)
                                        {
                                            <div class="col-md-3">
                                                <input name="Fromdatetime" class="form-control" id="datepicker" value="@ViewBag.fromdate" placeholder="From Date" type="text">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-3">
                                                <input name="Fromdatetime" class="form-control" id="datepicker" placeholder="From Date" type="text">
                                            </div>
                                        }
                                        if (ViewBag.todate != null)
                                        {
                                            <div class="col-md-3">
                                                <input style="margin-right:50px" value="@ViewBag.todate" name="ToDatetime" class="form-control" placeholder="To Date" id="datepicker1" type="text">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-3">
                                                <input style="margin-right:50px" name="ToDatetime" class="form-control" placeholder="To Date" id="datepicker1" type="text">
                                            </div>
                                        }
                                        @*<div class="col-md-2">
                                                <input type="submit" class="pull-right btn btn-primary sbmt" id="Show" name="Show" value="Show" />
                                            </div>*@

                                        <div class="col-md-2">
                                            <input type="submit" value="Export to Excel" name="Submit" class="btn btn-block btn-success sbmt" />
                                        </div>


                                    }
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    /////Sender Autocomplete
    $(function () {
        var availableTutorials = [

        ];
        var company_idarr = [

        ];

        $.ajax({
            type: 'GET',
            /**/
            /**/
            /**/
            url: '@Url.Action("CustomerIdAutocomplete","Booking")',
    /**/
    /**/
    /**/
    data: {},
    dataType: 'json',
    success: function (data) {
        $.each(data, function (i, item) {
            company_idarr.push(item.Company_Id);
        });

    }
});

        $("#Customer_Id").autocomplete({
            source: company_idarr,
    select: function (event, ui) {
        $("#Customer_Id").val(ui.item.value);

        $("#Customer_Id").trigger("focusout");
    }
        });

        $("#custid").autocomplete({
            source: company_idarr,
            select: function (event, ui) {

            }
        });
    });
</script>

<style>
    #check-booking-list {
        display: block;
        min-height: 400px;
    }
</style>
@*<script>
        $(document).ready(function () {

            $('#Show').click(function () {
                var cutid = $('#custid').val();
                var frmdate = $('#datepicker').val();
                var todate = $('#datepicker1').val();


                if (cutid == "") {
                    alert("Please Enter Customer Id");
                    return false;
                }
                else if (frmdate == "") {
                    alert("Please Enter From Date");
                    return false;
                }
                else if (todate == "") {
                    alert("Please Enter To Date");
                    return false;
                }
                else { return true; }


            });
        });

    </script>*@



<script>
    $(document).ready(function () {
        $('.sbmt').click(function () {
            var frmdate = $('#datepicker').val();

            var todate = $('#datepicker1').val();

            var custid = $('#custid').val();

            if (frmdate == "") {
                alert("Please Enter Start Date");
                return false;
            }
            else if (todate == "") {
                alert("Please Enter End Date");
                return false;
            }
            else if (custid == "") {
                alert("Please Select Customer");
                return false;
            }
            else {
                return true;
            }

        });

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        })

        $('#datepicker1').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        })


    });




    $(function () {
        $('#check-booking-list').dataTable({
            "bPaginate": false,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });
    });
</script>


@if (ViewBag.select != null)
{
    <script>
        $(document).ready(function () {
            $("select").val('@ViewBag.select');
        });
    </script>
}



<style>
    .pf-code select, .emp-id select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    #example1 {
        display: block;
    }

    .table-scroll {
        height: 400px;
    }
</style>