@model DtDc_Billing.Entity_FR.Stationary


@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="~/admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <!-- column -->
            <div class="box-header with-border">
                <h4>Add Stationary</h4>
            </div><!-- /.box-header -->

            <div class="row">

                <div class="col-md-8">
                    <!-- form start -->
                    <form class="form-horizontal">

                        <div class="box-body">
                            <div class="form-group">
                                <label for="receipt-date" class="col-sm-3 control-label">Receipt Date</label>
                                <div class="col-sm-9">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @*<input type="text" class="form-control pull-right" id="datepicker">*@
                                        @Html.EditorFor(model => model.temprecdate, new { htmlAttributes = new { @class = "form-control pull-right", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.temprecdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="start-no" class="col-sm-3 control-label">Start No</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control" id="start-no" placeholder="Start No">*@
                                    @Html.EditorFor(model => model.startno, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.startno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="end-no" class="col-sm-3 control-label">End No</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control" id="end-no" placeholder="End No">*@
                                    @Html.EditorFor(model => model.endno, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.endno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leafs-no" class="col-sm-3 control-label">No of Leafs</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control" id="leafs-no" placeholder="No of Leafs">*@
                                    @Html.EditorFor(model => model.noofleafs, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.noofleafs, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="book-no" class="col-sm-3 control-label">No of Books</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.noofbooks, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.noofbooks, "", new { @class = "text-danger" })

                                    @*<input type="text" class="form-control" id="book-no" placeholder="No of Books">*@
                                </div>
                            </div>
                            <!-- select -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select PFID</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("Pf_code", null, htmlAttributes: new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.Pf_code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
         alert("@ViewBag.Message");
    </script>
}

@if (ViewBag.Message1 != null)
{
    <script type="text/javascript">
         alert("@ViewBag.Message1");
    </script>
}

<script>
    $(document).ready(function () {

        $('#startno').keyup(function () {
            //alert("Keyup");
            $('#endno').val('');
            $('#startno').val($(this).val().toUpperCase());
            var startno = $("#startno").val();
            if (startno.length >= 9) {
                $('#endno').focus();
            }

        });

        $('#endno').keyup(function () {
            //alert("Keyup");

            $('#endno').val($(this).val().toUpperCase());

            var endno = $("#endno").val();
            var startno = $("#startno").val();

            var firstchastart = startno.charAt(0);
            var firstcharend = endno.charAt(0);

            if (firstchastart != firstcharend) {
                $('#endno').val('');
            }
            else if (endno.length >= 9) {
                $('#noofleafs').focus();
                setleaf();
            }

        });


        function setleaf() {

            var startno = $("#startno").val();
            var endno = $("#endno").val();

            calstart = startno.substring(1);
            calend = endno.substring(1);



            var leafs = parseInt("0" + calend) - parseInt("0" + calstart) + 1;

            $('#noofleafs').val(leafs);

            var noofleafs = Math.ceil(leafs / 50);

            $('#noofbooks').val(noofleafs);



        }
    });



    $('#temprecdate').datepicker({
        autoclose: true,
        format: 'dd-mm-yyyy',

    });
    var currentDate = new Date();
    $("#temprecdate").datepicker("setDate", currentDate);
</script>