@model DtDc_Billing.Models.IssueStationaryModel


@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- column -->
        <div class="box-header with-border">
            <h4>Issue Stationary</h4>
        </div><!-- /.box-header -->
        <div class="row">
            <!-- Horizontal Form -->
            <div class="col-md-8">
                <!-- form start -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="issue-date" class="col-sm-3 control-label">Issued Date</label>
                                @*   @Html.ValidationMessageFor(model => model.error)*@
                                <div class="col-sm-9">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.Inssuedate, new { htmlAttributes = new { @class = "form-control pull-right" } })
                                        @Html.ValidationMessageFor(model => model.Inssuedate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="start-no" class="col-sm-3 control-label">Start No</label>

                                <div class="col-sm-9">


                                    @Html.EditorFor(model => model.startno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.startno, "", new { @class = "text-danger" })



                                </div>
                            </div>

                            <div class="form-group">
                                <label for="end-no" class="col-sm-3 control-label">End No</label>

                                <div class="col-sm-9">

                                    @Html.EditorFor(model => model.endno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.endno, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="company-id" class="col-sm-3 control-label">Company Id</label>

                                <div class="col-sm-9">

                                    @Html.EditorFor(model => model.Comapny_Id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Comapny_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emp-name" class="col-sm-3 control-label">Employee Name</label>

                                <div class="col-sm-9">

                                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="two-block-inline" class="form-group">
                                <label for="leaf-no" class="col-sm-3 control-label">No of Leafs</label>

                                <div class="col-sm-4">

                                    @Html.EditorFor(model => model.noofleafs, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.noofleafs, "", new { @class = "text-danger" })
                                </div>

                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

<!-- /.content -->
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
         alert("@ViewBag.Message");
    </script>
}

@if (ViewBag.Message1 != null)
{
    <script type="text/javascript">
         alert("@ViewBag.Message1");
    </script>
}

<script>


    $(document).ready(function () {

     $(function () {
        var availableTutorials = [

        ];
        var company_idarr = [

        ];

        $.ajax({
            type: 'GET',
            /**/
            /**/
            /**/
            url: '@Url.Action("CustomerIdAutocomplete","Booking")',
    /**/
    /**/
    /**/
    data: {},
    dataType: 'json',
    success: function (data) {
        $.each(data, function (i, item) {
            company_idarr.push(item.Company_Id);
        });

    }
});

        $("#Comapny_Id").autocomplete({
            source: company_idarr,
            select: function (event, ui) {

            }
        });
        });


           $(function () {
        var availableTutorials = [

        ];
        var company_idarr = [

        ];

        $.ajax({
            type: 'GET',
            /**/
            /**/
            /**/
            url: '@Url.Action("Employeeautocomplete")',
    /**/
    /**/
    /**/
    data: {},
    dataType: 'json',
    success: function (data) {
        $.each(data, function (i, item) {
            company_idarr.push(item.EmployeeName);
        });

    }
});

        $("#EmployeeName").autocomplete({
            source: company_idarr,
            select: function (event, ui) {

            }
        });
        });




        });



</script>


<script>
    $(document).ready(function () {

        $('#startno').keyup(function () {
            //alert("Keyup");
            $('#endno').val('');
            $('#startno').val($(this).val().toUpperCase());
            var startno = $("#startno").val();
            if (startno.length >= 9) {
                $('#endno').focus();
            }

        });

        $('#endno').keyup(function () {
            //alert("Keyup");

            $('#endno').val($(this).val().toUpperCase());

            var endno = $("#endno").val();
            var startno = $("#startno").val();

            var firstchastart = startno.charAt(0);
            var firstcharend = endno.charAt(0);

            if (firstchastart != firstcharend) {
                $('#endno').val('');
            }
            else if (endno.length >= 9) {
                $('#noofleafs').focus();
                setleaf();
            }

        });


        function setleaf() {

            var startno = $("#startno").val();
            var endno = $("#endno").val();

            calstart = startno.substring(1);
            calend = endno.substring(1);


            var leafs = parseInt("0" + calend) - parseInt("0" + calstart) + 1;
            if (leafs > 100) {
                alert('You can only issue upto 100 consignments');
                $("#endno").val('');
            }
            $('#noofleafs').val(leafs);

            var noofleafs = Math.ceil(leafs / 50);

            $('#noofbooks').val(noofleafs);



        }
    });



    $('#Inssuedate').datepicker({
        autoclose: true,
        format: 'dd-mm-yyyy',

    });
    var currentDate = new Date();
    $("#Inssuedate").datepicker("setDate", currentDate);
</script>