@using PagedList
@using PagedList.Mvc

@model PagedList<DtDc_Billing.Entity_FR.Stationary>

@{
    ViewBag.Title = "Remaining";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- column -->
        <div class="box-header with-border">
            <h4>Remaining Stationary</h4>
        </div><!-- /.box-header -->
        <div class="row">

            <!-- Horizontal Form -->
            <div class="col-sm-6">
                <!-- form start -->
                <div class="form-horizontal">

                    <div class="box-body">
                        <!-- select -->
                        @using (Html.BeginForm("Remaining", "Stationery",FormMethod.Get))
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select PFID</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("PfCode", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-primary pull-right sbmt" name="Show" value="Show" />
                            </div>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="table_display_block" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Receipt Date</th>
                                <th>Expiring in</th>
                                <th>Start No</th>
                                <th>End No </th>
                                <th>No Of Consignment</th>
                                <th>Used</th>
                                <th>Ramining</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int j = 0;
                                var sum10 = 0;
                                var sum25 = 0;
                            
                                foreach (var i in Model)
                                {
                                    <tr>
                                        <td>@i.temprecdate</td>
                                        <td>
                                            @{

                                                try
                                                {
                                                    if ((getDate(i.temprecdate) - DateTime.Now.Date).TotalDays < 0)
                                                    {
                                                        <span class="text-danger">Expired</span>
                                                    }
                                                    else if ((getDate(i.temprecdate) - DateTime.Now.Date).TotalDays > 0 && (getDate(i.temprecdate) - DateTime.Now.Date).TotalDays < 10)
                                                    {
                                                        sum10 += (Convert.ToInt16(NoofConsignments(i.startno, i.endno)) - Convert.ToInt16(ViewBag.str[j]));
                                                        <span class="text-danger">    @((getDate(i.temprecdate) - DateTime.Now.Date).TotalDays) Days days</span>
                                                    }
                                                    else if ((getDate(i.temprecdate) - DateTime.Now.Date).TotalDays > 0 && (getDate(i.temprecdate) - DateTime.Now.Date).TotalDays < 25)
                                                    {
                                                        sum25 += (Convert.ToInt16(NoofConsignments(i.startno, i.endno)) - Convert.ToInt16(ViewBag.str[j]));
                                                        <span class="text-danger">    @((getDate(i.temprecdate) - DateTime.Now.Date).TotalDays) Days days</span>
                                                    }
                                                    else
                                                    {
                                                        <span> @((getDate(i.temprecdate) - DateTime.Now.Date).TotalDays) Days days</span>
                                                    }
                                                }
                                                catch (Exception ex)
                                                {
                                                    // handle exception
                                                }



                                            }
                                        </td>

                                        <td>@i.startno</td>

                                        <td>@i.endno</td>

                                        <td> @NoofConsignments(i.startno, i.endno) </td>
                                        <td>
                                            @ViewBag.str[j]
                                        </td>
                                        <td>
                                            @(Convert.ToInt16(NoofConsignments(i.startno, i.endno)) - Convert.ToInt16(ViewBag.str[j]))
                                        </td>

                                        <td><input id="showd" class="showd" type="button" value="View" data-datac="@i.startno" data-datad="@i.endno" /></td>
                                    </tr>
                                    j++;
                                }
                            }
                        </tbody>

                    </table>
                    <div class="col-md-12">
                        <div class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Remaining", new {pfcode = ViewBag.pfcode1,page, pageSize = Model.PageSize }))
                            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Users
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" style="display:block" class="table table-bordered table-striped table-responsive height-450">
                        <thead>
                            <tr>
                                <th>Consignment No</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@functions {

    public long NoofConsignments(string startno, string endno)
    {

        //long startConsignment = Convert.ToInt64(startno.Substring(1));
        //long EndConsignment = Convert.ToInt64(endno.Substring(1));

        //long diff = EndConsignment - startConsignment;

        //return diff + 1;
        // Extract the numeric part of the consignment number
        var matchst = System.Text.RegularExpressions.Regex.Match(startno, @"(\d+)(?!.*\d)").ToString();
        var matchen = System.Text.RegularExpressions.Regex.Match(endno, @"(\d+)(?!.*\d)").ToString();
        string startNumeric = matchst;
        string endNumeric = matchen;

        long diff = Convert.ToInt64(endNumeric) - Convert.ToInt64(startNumeric);
        return diff + 1;


    }
    public DateTime getDate(string tempdate)
    {

        var sd = tempdate.Split('-');

        var d = DateTime.ParseExact(sd[0] + "-" + sd[1] + "-" + sd[2], "dd-MM-yyyy", null); //MM / dd / yyyy
        var formateddate = d.AddDays(90);
        var dd = Convert.ToDateTime(formateddate.ToString("MM/dd/yyyy"));
        //var formattedDate = d.ToString("MM/dd/yyyy");

        //var dd = d.Date.AddDays(90);
        return dd;
    }

    //public long UsedConsignments(string startno, string endno)
    //{

    //    long startConsignment = Convert.ToInt64(startno.Substring(1));
    //    long EndConsignment = Convert.ToInt64(endno.Substring(1));

    //    long diff = EndConsignment - startConsignment;

    //    return diff;

    //}

}

<script>

    $(document).ready(function () {
        $('.showd').click(function () {


            var startno = $(this).data('datac');
            var endno = $(this).data('datad');

            $.ajax({
                type: 'Get',
                dataType: 'json',
                url: '/Stationery/RemainingConsignments',
                data: { startno: startno, endno: endno },
                success: function (Data) {
                    $('#example2 tbody').empty();
                    var rows;
                    $.each(Data, function (i, item) {
                        rows += "<tr>"
                            + "<td>" + item + "</td>"

                            + "</tr>";
                    });
                    $('#example2 tbody').append(rows);



                }
            });

        });

    });
</script>
<script>
    $(function () {
        $('#table_display_block').dataTable({
            "bPaginate": false,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false
        });
    });
</script>